<section class="contact-us bg-highlight-primary py-5 overflow-hidden">
    <div class="mt-5 pt-5">
        <div class="container">
            <div class="card p-3 rounded-5 border-0 mt-5" data-aos="zoom-in" data-aos-duration="2000">
                <div class="row">
                  <div class="col-lg-4 col-12">
                    <div class="contact-img h-100">
                     <img src="/assets/image/img/contactimage.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-12 my-auto">
                      <h5 class="fw-bb fs-1xl head-theme cursor-pointer mt-4 mt-lg-0">Contact Us</h5>
                    <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit(subscribeForm.value)">
                        <div class="row row-cols-2">
                            <div class="col">
                              <div class="input-group my-3">
                                  <input type="text" class="form-control" [ngClass]="{
                                            'is-invalid':
                                              submitted && subscribeForm.get('first_name')?.errors
                                          }" formControlName="first_name" id="first_name" placeholder="First Name" aria-label="first_name"
                                          aria-describedby="first_name" />

                                  <div class="invalid-feedback" *ngIf="
                                            subscribeForm.get('first_name')?.errors &&
                                            (subscribeForm.get('first_name')?.dirty ||
                                            subscribeForm.get('first_name')?.touched ||
                                            subscribeForm.get('first_name')?.untouched) &&
                                            submitted
                                          ">
                                    <p class="mb-0" *ngIf="subscribeForm.get('first_name')?.errors?.['required']">
                                      This field is required</p>
                                  </div>
                                </div>
                            </div>

                            <div class="col">
                             <div class="input-group my-3">
                                 <input type="text" class="form-control" [ngClass]="{
                                     'is-invalid':
                                      submitted && subscribeForm.get('last_name')?.errors
                                      }" formControlName="last_name" id="last_name" placeholder="Last Name" aria-label="last_name"
                                      aria-describedby="last_name" />

                                 <div class="invalid-feedback" *ngIf="
                                      subscribeForm.get('last_name')?.errors &&
                                      (subscribeForm.get('last_name')?.dirty ||
                                      subscribeForm.get('last_name')?.touched ||
                                      subscribeForm.get('last_name')?.untouched) &&
                                      submitted">
                                   <p class="mb-0" *ngIf="subscribeForm.get('last_name')?.errors?.['required']">
                                    This field is required
                                   </p>
                                 </div>
                               </div>
                            </div>

                            <div class="col">
                               <div class="input-group my-3">
                                  <input type="email" class="form-control" [ngClass]="{
                                      'is-invalid': submitted && subscribeForm.get('email')?.errors
                                      }" formControlName="email" id="emailAddress" placeholder="Email" aria-label="emailAddress"
                                      aria-describedby="emailAddress" />

                                  <div class="invalid-feedback" *ngIf="
                                      subscribeForm.get('email')?.errors &&
                                      (subscribeForm.get('email')?.dirty ||
                                      subscribeForm.get('email')?.touched ||
                                      subscribeForm.get('email')?.untouched) &&
                                      submitted">
                                  <p class="mb-0" *ngIf="subscribeForm.get('email')?.errors?.['required']">
                                    This field is required
                                  </p>
                                  <p class="mb-0" *ngIf="subscribeForm.get('email')?.errors?.['pattern']">
                                    Enter valid email
                                  </p>
                                  </div>
                                </div>
                            </div>

                            <div class="col">
                              <div class="input-group my-3">
                                  <input type="text" class="form-control" [ngClass]="{
                                    'is-invalid': submitted && subscribeForm.get('phone_number')?.errors
                                    }" id="phone_number" formControlName="phone_number" placeholder="Phone Number" aria-label="phone_number"
                                    aria-describedby="phone_number" />

                                <div class="invalid-feedback" *ngIf="
                                    subscribeForm.get('phone_number')?.errors &&
                                    (subscribeForm.get('phone_number')?.dirty ||
                                    subscribeForm.get('phone_number')?.touched ||
                                    subscribeForm.get('phone_number')?.untouched) &&
                                    submitted">
                                  <p class="mb-0" *ngIf="subscribeForm.get('phone_number')?.errors?.['required']">
                                    This field is required
                                  </p>
                                  <p class="mb-0" *ngIf="subscribeForm.get('phone_number')?.errors?.['pattern']">
                                    Enter valid number
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="input-group my-3">
                                <input type="text" class="form-control" [ngClass]="{
                                   'is-invalid':
                                   submitted && subscribeForm.get('company_name')?.errors
                                   }" formControlName="company_name" id="company_name" placeholder="Company" aria-label="Job Title"
                                   aria-describedby="Job Title" />
                                <div class="invalid-feedback" *ngIf="
                                   subscribeForm.get('company_name')?.errors &&
                                   (subscribeForm.get('company_name')?.dirty ||
                                   subscribeForm.get('company_name')?.touched ||
                                   subscribeForm.get('company_name')?.untouched) &&
                                   submitted">
                                 <p class="mb-0" *ngIf="subscribeForm.get('company_name')?.errors?.['required']">
                                  This field is required
                                 </p>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                                <div class="input-group my-3">
                                    <input type="text" class="form-control" [ngClass]="{
                                        'is-invalid':
                                        submitted && subscribeForm.get('state')?.errors
                                        }" formControlName="state" id="state" placeholder="State/Region"
                                        aria-label="state" aria-describedby="state" />

                                    <div class="invalid-feedback" *ngIf="
                                        subscribeForm.get('state')?.errors &&
                                        (subscribeForm.get('state')?.dirty ||
                                        subscribeForm.get('state')?.touched ||
                                        subscribeForm.get('state')?.untouched) &&
                                        submitted">
                                      <p class="mb-0" *ngIf="subscribeForm.get('state')?.errors?.['required']">
                                        This field is required
                                      </p>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group my-3">
                              <textarea class="form-control" [ngClass]="{
                                'is-invalid':
                                submitted && subscribeForm.get('comments')?.errors
                                }" id="comments" formControlName="comments" placeholder="Comments" style="resize: none"
                                aria-label="comments" draggable="false" maxLength="500"></textarea>
                              <div class="invalid-feedback" *ngIf="
                                  subscribeForm.get('comments')?.errors &&
                                  (subscribeForm.get('comments')?.dirty ||
                                  subscribeForm.get('comments')?.touched ||
                                  subscribeForm.get('comments')?.untouched) &&
                                  submitted">
                                <p class="mb-0" *ngIf="subscribeForm.get('comments')?.errors?.['required']">
                                  This field is required
                                </p>
                                <p class="mb-0" *ngIf="subscribeForm.get('comments')?.errors?.['maxLength']">
                                   Max 500 Character must be allowed
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="d-flex justify-content-between">
                              <a [routerLink]="'/privacypolicy'" target="_blank" class="fw-rb fs-d head-theme text-decoration-underline pt-2">Privacy Policy</a>
                              <button type="submit" class="btn my-3 text-white btn-theme-primary w-25 submit-btn">Submit</button>
                          </div>
                          <a [routerLink]="'/ourlocation'" class="d-flex justify-content-end me-2">
                            <img src="/assets/icon/locationicon.svg" alt="" class="mb-2">
                            <span class="fw-rb fs-d ms-2 head-theme">Our Locations</span></a>
                    </form>
               </div>
            </div>
        </div>
      </div>
    </div>
</section>


