.contact-img img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(197.79deg, #0FA6FC -6.08%, #D048FC 73.56%);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.isoimg-fluid{
    max-width: 6%;
    height: auto;
}
@media (max-width: 425px) {
    .submit-btn{
        width: auto !important;
    }
}

.card-footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainprivacycard{
    background-color: #e8f3ff;
}

table{
    border: 1px solid grey;
}

table td{
    border: 1px solid grey;
    padding: 6px;
}
table th {
    border: 1px solid grey;
}

table tr{
    border: 1px solid grey;
}

a{
    cursor: pointer !important;
}