.location-banner{
    background-image: url(/assets/image/img/global-img/ourlocationbanner.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(81vh - 100px);
    width: 100%;
}

.about-content{
    top: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card{
    background:linear-gradient(180deg, #468CFD -41.34%, #063A75 103.57%);
    width: 66%;
    box-shadow: 0px 4px 20px 0px #92777724;
}

.dragimg{
    top: -50px;
    right: 0;
    width: 100%;
    object-fit: none;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .dragimg{
    top: 25px !important;}
    .card{
        width: 80% !important;
    }
 }

 @media (min-width: 768px) and (max-width: 991px) {
    .card{
        width: 100% !important;
    }
    .gujarat-office{
        white-space: initial !important;
    }
    .dragimg{
    top: 107px;}
 }

 @media (max-width: 425px) {
    .card{
   width: 100% !important;}
 }

 @media (max-width: 767.98px) {
    .dragimg{
        display: none !important;
    }
    .headoffices{
        background-image: none !important;
    }
  }
  @media (max-width: 375px) {
    .gujarat-office{
        white-space: initial !important;
    }
   }
.headoffices{
    background-image: url(/assets/image/img/worldmap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 