<section class="location-banner position-relative overflow-hidden" data-aos="fade-down" data-aos-duration="2000">
    <div class="position-absolute about-content">
        <span class="fw-bb fs-3xl theme-secondary">Our Locations</span>
    </div>
</section>

<section class="py-5 headoffices overflow-hidden">
<div class="container">
    <div>
        <div class="row row-cols-lg-2 row-cols-md-2 g-lg-5 position-relative">
            <img src="/assets/image/img/global-img/draglineimg.png" alt="" class="position-absolute dragimg">
        <div class="col pt-4">
            <div class="card rounded-4 border-0 mt-5 mx-auto">
                <div class="card-header p-3">
                    <span class="theme-secondary fw-bb fs-sm">Head Office - USA:</span>
                </div>
                <div class="card-body d-flex">
                    <img src="/assets/image/img/global-img/usa img.png" alt="" class="mb-1"
                    data-aos="flip-right" data-aos-duration="2000">
                 <div class="mb-0 theme-secondary fw-rb fs-xsm ms-2 my-auto">2512 Chambers Rd<br>
                   Suite 105, Tustin, <br> CA 92780, USA<br>Phone:+1-9495291773
                  <p class="mt-3 mb-1">
                  <img src="/assets/icon/sms.svg" alt="">
                  <a href="https://mahaaya.com/" class="primary-theme-color ms-2">info&#64;mahaaya.com</a></p>
                </div>
                <br>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-4 border-0 mt-3 mx-auto">
                <div class="card-header p-3">
                    <span class="theme-secondary fw-bb fs-sm">Bangalore Office</span>
                </div>
                <div class="card-body d-flex">
                    <img src="/assets/image/img/global-img/bengalurimg.png" alt=""
                    data-aos="flip-right" data-aos-duration="2000">
        <div class="mb-0 theme-secondary fw-rb fs-xsm ms-2 my-auto">202,1st AA Cross,<br>
            2nd Main Road,Kasturinagar,<br> Bengaluru-560043, India
            <p class="mt-3 mb-1">
                <img src="/assets/icon/sms.svg" alt="" class="mb-1">
                <a href="https://mahaaya.com/" class="primary-theme-color ms-2">info&#64;mahaaya.com</a></p>
        </div>
        <br>
                </div>
            </div>
        </div>
        <div class="col pt-3-4">
            <div class="card rounded-4 border-0 mt-5 ms-lg-5 ms-md-0 mx-auto">
                <div class="card-header p-3">
                    <span class="theme-secondary fw-bb fs-sm">Gujarat Office</span>
                </div>
                <div class="card-body d-flex">
                    <img src="/assets/image/img/global-img/gujaratimg.png" alt=""
                    data-aos="flip-right" data-aos-duration="2000">
        <div class="mb-0 theme-secondary fw-rb fs-xsm ms-2 my-auto text-nowrap gujarat-office">Vihav Supremus, 702,<br>
            Near Iscon Heights, Gotri, Vadodara,<br>Gujarat 390021<br>Phone: +1-9495291773
            <p class="mt-3 mb-1">
                <img src="/assets/icon/sms.svg" alt="" class="mb-1">
                <a href="https://mahaaya.com/" class="primary-theme-color ms-2">info&#64;mahaaya.com</a></p>
        </div>
        <br>
                </div>
            </div>
        </div>
        <div class="col pt-3">
            <div class="card rounded-4 border-0 mt-5 mx-auto">
                <div class="card-header p-3">
                    <span class="theme-secondary fw-bb fs-sm">Coimbatore Office</span>
                </div>
                <div class="card-body d-flex">
                    <img src="/assets/image/img/global-img/eeshaimg.png" alt="" class=""
                    data-aos="flip-right" data-aos-duration="2000" data-aos-anchor-placement="top-bottom">
        <div class="mb-0 theme-secondary fw-rb fs-xsm ms-2 my-auto">Arima Wakefield Building,<br>
            3rd Floor, 281 Avinashi Road,<br>PKD Nagar, Peelamedu, Coimbatore-641004, India
            <p class="mt-3 mb-1">
                <img src="/assets/icon/sms.svg" alt="" class="mb-1">
                <a href="https://mahaaya.com/" class="primary-theme-color ms-2">info&#64;mahaaya.com</a></p>
        </div>
        <br>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</section>
