<section class="mt-4 py-5 mb-5" [id]="'team'">
    <div class="container" data-aos="fade-down" data-aos-duration="3000">
        <app-page-title [title]="' Meet Our<span> Leadership</span>'"></app-page-title>
        <div class="row row-cols-lg-3 row-cols-md-2 gy-5 row-cols-1">
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft position-realtive" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/sivaperiasamy/" target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt=""></a></li>
                        <li><a (click)="getInfo(1)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt="">
                        </a>
                    </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/siva.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Siva Periasamy</a></h3>
                        <div class="fs-sm ligh-bold">Chief Operating Officer</div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/mohkumar/" target="_blank">
                                <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a (click)="getInfo(2)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt="">
                        </a>
                    </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/mohan.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Mohan Kumar</a></h3>
                        <div class="fs-sm ligh-bold">Chief Technology Officer</div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/sureshkumartata/"
                            target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(10)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt=""></a>
                        </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/suresh.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Suresh Tata</a></h3>
                        <div class="fs-sm ligh-bold">Vice President - Digital Transformation
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/chandramohanbhupal" target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(3)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt="">
                        </a>
                    </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/Chandramohan.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Chandramohan</a></h3>
                        <div class="fs-sm ligh-bold">Director - Data & Analytics Platform</div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/shobana-karthik-507a91196"
                            target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(7)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt=""></a>
                        </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/shobana.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Shobana Karthik</a></h3>
                        <div class="fs-sm ligh-bold">Talent Acquisition Director
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/siddhartha-roy-chowdhury-a0a7675b/" target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li><a (click)="getInfo(5)" data-bs-toggle="modal"
                            data-bs-target="#infoModal"><img src="/assets/icon/info2icon.svg" alt=""></a></li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/SiddharthaRoyChowdhury.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Sid Chowdhry</a></h3>
                        <div class="fs-sm ligh-bold">Director CRM Consulting</div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/vinu-jacob-0877543/"
                            target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(6)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt=""></a>
                        </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/VinuJacob.jpeg" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme text-nowrap leaders_name">Vinu Jacob</a></h3>
                        <div class="fs-sm ligh-bold leader_position">Director – Solutions & Consulting
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft position-realtive" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/arun-shourie-balakrishnan-369b749/" target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(4)" data-bs-toggle="modal"
                            data-bs-target="#infoModal"><img src="/assets/icon/info2icon.svg" alt="">
                        </a>
                    </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/arun.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Arun Balakrishnan</a></h3>
                        <div class="fs-sm ligh-bold">UI Practise Lead</div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft position-realtive" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/lzanella/" target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(9)" data-bs-toggle="modal"
                            data-bs-target="#infoModal"><img src="/assets/icon/info2icon.svg" alt="">
                        </a>
                    </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/laura.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Laura P Zanella</a></h3>
                        <div class="fs-sm ligh-bold">Power Platform and D365 Lead</div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/nicoletteemory/"
                            target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(8)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt=""></a>
                        </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/niccolate.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Nicolette Emory</a></h3>
                        <div class="fs-sm ligh-bold">BI Practice Lead
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/royceduong/"
                            target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(11)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt=""></a>
                        </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/royce.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Royce Duong</a></h3>
                        <div class="fs-sm ligh-bold">Account Technology Strategist
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-block col">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/reena-dejgambhir-8ab46512b/"
                            target="_blank">
                            <img src="/assets/image/img/tllinkedinicon.svg" alt="">
                        </a>
                    </li>
                        <li>
                            <a (click)="getInfo(12)" data-bs-toggle="modal"
                            data-bs-target="#infoModal">
                            <img src="/assets/icon/info2icon.svg" alt=""></a>
                        </li>
                    </ul>
                    <div class="image">
                        <a href="#">
                            <img src="/assets/image/img/about/reena.png" alt="" class="" />
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#" class="fw-bb fs-md head-theme">Reena Dejgambhir</a></h3>
                        <div class="fs-sm ligh-bold">Business Development Manager
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--------------------------modal-------------------------------->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg custom-top modal-dialog-centered">
    <div class="modal-content" *ngFor="let data of activeLeader">
      <div class="modal-header position-relative rounded-2">
        <div class="container">
          <div class="d-flex justify-content-between position-realtive">
            <div class="d-flex align-items-center">
              <div class="leader-img-container overflow-hidden">
                <img [src]="data.image" class="w-100 h-100 rounded-circle" [alt]="data.leaderName" />
              </div>
              <div class="ms-3">
                <h2 class="leader_name color-sky mb-1 ff-primary fs-1xl fw-bold">
                  {{ data.leaderName }}
                </h2>
                <p class="leader_role ff-primary fs-sm fw-mb">{{ data.leaderRole }}</p>
              </div>
            </div>
            <!-- <div class="mt-auto position-absolute navigate_icon">
              <a class="mr-1 btn" [ngClass]="[data.id == 1 ? 'disabled' : '']"
                (click)="changeId(data.id, 'previous')"><i class="fa-solid fa-chevron-left align-middle"></i></a>
              <a class="ml-1 btn" [ngClass]="[
                  data.id >= this.leadersData.length ? 'disabled' : ''
                ]" (click)="changeId(data.id, 'next')"><i class="fa-solid fa-chevron-right align-middle"></i></a>
            </div> -->
          </div>
        </div>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <p class="leader_content ff-primary fs-d theme-sub-sec " innerHtml="{{ data.leaderContent }}"></p>
          <h3 class="leader_head ff-primary fs-d theme-sub-sec">
            {{ data.experienceStatus }}
          </h3>
          <p innerHtml="{{ data.leaderExperience }}" class="ff-primary fs-d ff-primary fs-d theme-sub-sec "></p>
          <ul class="pl-3">
            <li *ngFor="let list of data.leaderExperienceList" class="py-1">
              {{ list }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
