<section class="py-5 main-analytics overflow-hidden">
  <div class="mt-4 pt-5">
    <div class="container">
      <div
        class="card rounded-4 mt-5 position-relative analytics-card"
        data-aos="zoom-in"
        data-aos-duration="2500"
      >
        <div class="analytic-content position-absolute">
          <h6 class="fw-bb fs-1xl theme-secondary pov">AI solutions</h6>
        </div>
        <img
          src="/assets/og-img/aiSolutions.png"
          alt=""
          class="rounded-4 img-fluid"
        />
      </div>
    </div>
  </div>
  <div class="container my-5" data-aos="zoom-in" data-aos-duration="2500">
    <h6 class="text-center fw-bb fs-1xl head-theme analytics-paras pb-5">
      Our AI Capabilities
    </h6>
    <div class="row g-4 justify-content-center mb-4">
      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img src="/assets/icon/ai/education.svg" alt="Visual Insights" />
              <h5 class="fs-lg text-nowrap">Education & Universities</h5>
            </div>
            <ul class="hover-list">
              <li>Transcript automation</li>
              <li>Transfer Recommendations</li>
              <li>AI avatars for admissions ,student support</li>
              <li>LMS recommendations</li>
              <li>Student Counseling Agent</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img src="/assets/icon/ai/financial.svg" alt="AI Features" />
              <h5 class="fs-lg text-nowrap">Financial Institutions</h5>
            </div>

            <ul class="hover-list">
              <li>Loan Application Processing</li>
              <li>Member Retention & Cross-Selling</li>
              <li>Credit Card Recommendation Engines</li>
              <li>Agentic Form Filling with AI</li>
              <li>Customer 360</li>
              <li>Fraud Analytics</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img src="/assets/icon/ai/realEstate.svg" alt="UX" />
              <h5 class="fs-lg text-nowrap">Real Estate Intelligence</h5>
            </div>
            <ul class="hover-list">
              <li>Property Valuation Models using AI</li>
              <li>Image Copyright Detection for Listings</li>
              <li>Property 360 - Unified Asset Insights</li>
              <li>Programmatic Advertising for Property Management</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img src="/assets/icon/ai/accounting.svg" alt="Visual Insights" />
              <h5 class="fs-lg text-nowrap">Finance & Accounting</h5>
            </div>
            <ul class="hover-list">
              <li>Reconciliations</li>
              <li>FP&A automation</li>
              <li>Fraud detection & forecasting</li>
              <li>ChatFin - GenAI for CFOs & Analysts</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img src="/assets/icon/ai/retail.svg" alt="AI Features" />
              <h5 class="fs-lg text-nowrap">Retail & E-commerce</h5>
            </div>
            <ul class="hover-list">
              <li>Dynamic Product Recommendations</li>
              <li>Customer Segmentation & Customer 360</li>
              <li>Loyalty and Retention Prediction</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img src="/assets/icon/ai/cyberSecurity.svg" alt="UX" />
              <h5 class="fs-lg text-nowrap">Cybersecurity & SIEM</h5>
            </div>
            <ul class="hover-list">
              <li>Segments AI Agents for Splunk/Elastic</li>
              <li>Rule synthesis, drift detection</li>
              <li>60%+ false positive reduction</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img src="/assets/icon/ai/copyRight.svg" alt="Visual Insights" />
              <h5 class="fs-lg text-nowrap">Copyright Detection</h5>
            </div>
            <ul class="hover-list">
              <li>AI watermark & overlay detection</li>
              <li>Azure/on-prem integration</li>
              <li>Detailed scan reports</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img
                src="/assets/icon/ai/documentInteligent.svg"
                alt="AI Features"
              />
              <h5 class="fs-lg text-nowrap">Document Intelligence</h5>
            </div>
            <ul class="hover-list">
              <li>Clarity - Visual document extraction</li>
              <li>Auto-form fill & batch processing</li>
              <li>Secure, high accuracy extraction</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-hover shadow-sm border rounded-4">
          <div class="card-body card-inner">
            <div class="icon-heading-wrapper">
              <img src="/assets/icon/ai/conversationAi.svg" alt="UX" />
              <h5 class="fs-lg text-nowrap">Conversational AI</h5>
            </div>
            <ul class="hover-list">
              <li>Chat Avatar - Multi-dept AI agents</li>
              <li>AccessibVoice + RAG-powered responses ility</li>
              <li>Conversation memory & follow-ups</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container py-5" data-aos="fade-down" data-aos-duration="3000">
  <h1 class="text-center fw-bb fs-1xl head-theme pb-5">
    Business Challenges & Solutions
  </h1>
  <div class="row col-lg-12">
    <div class="col-md-5 mb-5 mb-md-0">
      <div class="arrow-img mb-4">
        <img src="/assets/icon/ai/challenges.svg" alt="Left Image" />
        <div class="arrowimg-text">
          <h4 class="mb-0 fs-xl">Challenges</h4>
        </div>
      </div>

      <div class="icon-text">
        <div class="icon-box">
          <img src="/assets/icon/ai/SlowDecisionmaking.svg" />
        </div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">Slow Decision Making</h6>
          <p class="fs-sm">
            Delayed Insights Hinder Timely business decisions and responsiveness
            to market changes.
          </p>
        </div>
      </div>
      <div class="icon-text">
        <div class="icon-box">
          <img src="/assets/icon/ai/Manualtimeconsumingprocess.svg" />
        </div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">Manual Time -consuming Processes</h6>
          <p class="fs-sm">
            Time on repetitive tasks like document processing, reconciliation,
            data entry.
          </p>
        </div>
      </div>
      <div class="icon-text">
        <div class="icon-box"><img src="/assets/icon/ai/fragmented.svg" /></div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">Fragmented Data Systems</h6>
          <p class="fs-sm">
            Missing customer insights for streamlined processes.
          </p>
        </div>
      </div>
      <div class="icon-text">
        <div class="icon-box">
          <img src="/assets/icon/ai/Personalizationdefects.svg" />
        </div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">Personalization Deficits</h6>
          <p class="fs-sm">
            Lack of tailored customer or user experiences leads to churn and
            lower satisfaction.
          </p>
        </div>
      </div>
      <div class="icon-text">
        <div class="icon-box"><img src="/assets/icon/ai/Compilance.svg" /></div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">Compliance, Risk Mgmt gaps</h6>
          <p class="fs-sm">
            Increasing complexity of regulations and manual compliance
            processes..
          </p>
        </div>
      </div>
    </div>

    <div
      class="col-md-2 d-none d-md-flex justify-content-center align-items-center"
    >
      <img src="/assets/icon/ai/verticalline.svg " />
    </div>

    <div class="col-md-5">
      <div class="arrow-img mb-4">
        <img src="/assets/icon/ai/solutions.svg" alt="Right Image" />
        <div class="arrowimg-text">
          <h4 class="mb-0 fs-xl">Solutions</h4>
        </div>
      </div>

      <div class="icon-text">
        <div class="icon-box"><img src="/assets/icon/ai/realai.svg" /></div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">
            Real-time AI Insights & Predictive <br />
            Analytics
          </h6>
          <p class="fs-sm">Enable proactive decision-making.</p>
        </div>
      </div>
      <div class="icon-text">
        <div class="icon-box">
          <img src="/assets/icon/ai/Aiautomation.svg" />
        </div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">AI Process Automation</h6>
          <p class="fs-sm">
            Automate document handling, financial operations, customer
            onboarding etc.
          </p>
        </div>
      </div>
      <div class="icon-text">
        <div class="icon-box">
          <img src="/assets/icon/ai/unifieddata.svg" />
        </div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">Unified Data Platforms with AI</h6>
          <p class="fs-sm">
            Consolidate data sources and AI insights in real time .
          </p>
        </div>
      </div>
      <div class="icon-text">
        <div class="icon-box"><img src="/assets/icon/ai/Aidriven.png" /></div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">AI Driven Personalization Engine</h6>
          <p class="fs-sm">
            Intelligent Segmentation and customize user journeys. .
          </p>
        </div>
      </div>
      <div class="icon-text">
        <div class="icon-box">
          <img src="/assets/icon/ai/AIcomplaincemonitoriang.svg" />
        </div>
        <div class="text-box">
          <h6 class="fw-700 fs-md">AI Compliance Monitoring</h6>
          <p class="fs-sm">
            Automate risk detection, ensure regulatory compliance.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <h1 class="text-center fw-bb fs-1xl head-theme pb-5">Service Offerings</h1>
  <div class="row">
    <!-- Card 1 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img src="/assets/icon/ai/home.svg" alt="Profile" class="profile-img" />
        <div class="card-heading text-start">ARCHITECTURE & AI Consulting</div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img
          src="/assets/icon/ai/AgenticAutomation.svg"
          alt="Profile"
          class="profile-img"
        />
        <div class="card-heading text-start">Agentic Automation</div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img
          src="/assets/icon/ai/Accelerators.svg"
          alt="Profile"
          class="profile-img"
        />
        <div class="card-heading text-start">Accelerators</div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img
          src="/assets/icon/ai/AzureAiSupport.svg"
          alt="Profile"
          class="profile-img"
        />
        <div class="card-heading text-start">
          Azure AI Infrastructure Support
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img
          src="/assets/icon/ai/IndustryExpertise.svg"
          alt="Profile"
          class="profile-img"
        />
        <div class="card-heading text-start">Industry Expertise</div>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img src="/assets/icon/ai/AI.svg" alt="Profile" class="profile-img" />
        <div class="card-heading text-start">
          AI Adoption & Change Management
        </div>
      </div>
    </div>

    <!-- Card 7 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img
          src="/assets/icon/ai/rapid.svg"
          alt="Profile"
          class="profile-img"
        />
        <div class="card-heading text-start">Rapid Prototyping</div>
      </div>
    </div>

    <!-- Card 8 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img src="/assets/icon/ai/ML.svg" alt="Profile" class="profile-img" />
        <div class="card-heading text-start">ML & Al Engineering Staffing</div>
      </div>
    </div>

    <!-- Card 9 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img
          src="/assets/icon/ai/aiSolution.svg"
          alt="Profile"
          class="profile-img"
        />
        <div class="card-heading text-start">AI Solution Design</div>
      </div>
    </div>

    <!-- Card 10 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img
          src="/assets/icon/ai/training.svg"
          alt="Profile"
          class="profile-img"
        />
        <div class="card-heading text-start">Training & Adoptions</div>
      </div>
    </div>

    <!-- Card 11 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img
          src="/assets/icon/ai/aiSecurityGovernance.svg"
          alt="Profile"
          class="profile-img"
        />
        <div class="card-heading text-start">AI Security & Governance</div>
      </div>
    </div>

    <!-- Card 12 -->
    <div class="col-md-6 col-lg-4 h-100 mb-3">
      <div class="profile-card rounded-3 p-3">
        <img src="/assets/icon/ai/llm.svg" alt="Profile" class="profile-img" />
        <div class="card-heading text-start">LLM Testing Framework</div>
      </div>
    </div>
  </div>
</div>

<div class="container" data-aos="zoom-in" data-aos-duration="3000">
  <h6
    class="text-center fw-bb fs-1xl head-theme analytics-paras pb-5 mt-0 mb-5"
  >
    Mahaaya Accelerators
  </h6>
  <div class="row g-5 pb-5 my-5">
    <!-- Left Side: Circular Tabs -->
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <div class="circle-wrapper mb-5">
        <!-- Circle Tabs -->
        <div
          *ngFor="let tab of tabs; let i = index"
          class="circle-tab"
          [class.active]="i === activeIndex"
          [style.transform]="getTabTransform(i)"
          (click)="setActive(i)"
        >
          <span>{{ tab.label }}</span>
        </div>

        <!-- Center Image -->
        <div class="circle-center">
          <img
            src="/assets/image/img/aiMahaaya.png"
            alt="Mahaaya"
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <!-- Right Side: Content -->
    <div class="col-lg-6 d-flex flex-column">
      <h4 class="text-primary fw-bold mt-lg-0 mt-5 pt-5">
        {{ tabs[activeIndex].title }}
      </h4>
      <p class="text-dark fs-md">{{ tabs[activeIndex].content }}</p>
    </div>
  </div>
</div>

<section class="py-5 main-analytics overflow-hidden">
  <div class="container" data-aos="fade-down" data-aos-duration="3000">
    <h1 class="text-center fw-bb fs-1xl head-theme pb-5">Case Study</h1>
    <div class="row">
      <div class="col-lg-6 text-center mb-4 mb-lg-0">
        <img
          src="/assets/icon/ai/caseStudy.svg"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 my-auto">
        <p class="fs-3-5xl fw-bolder">
          Transforming Member Engagement with Data & AI for a mid-sized credit
          union.
        </p>
        <button
          class="btn btn-primary rounded-pill border-0 py-1 mb-2 bg-white text-primary fw-bold"
        >
          Read Full Case Study<img
            class="align-bottom"
            src="/assets/icon/ai/arrow-right.svg"
          />
        </button>
      </div>
    </div>
  </div>
  <div class="container my-lg-5 py-5" data-aos="zoom-in" data-aos-duration="3000">
      <h1 class="text-center fw-bb fs-1xl head-theme pb-5">Addressing Key Business Challenges</h1>
    <div class="row g-4 justify-content-center">
      <!-- Accordion Column -->
      <div class="col-lg-6 my-lg-auto order-lg-1 order-2">
        <!-- Accordion 1 -->
        <div class="hover-card border-0 bg-light p-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  src="/assets/icon/ai/FragmentedDataSystems.svg"
                  alt="Profile"
                  class="Key-img"
                />
              </div>
              <div class="col d-flex align-items-center">
                <h5 class="fw-bold">Fragmented Data Systems</h5>
                <br />
              </div>
              <div class="col-auto">
                <img src="/assets/icon/ai/downArrow.svg" alt="Arrow" class="arrow-img" />
              </div>
            </div>
          <div class="hover-content bg-light border-0 pt-0">
            <p class="ms-5 ps-2">
              Disparate data silos hinder the ability to gain a unified view of
              member behavior .
            </p>
          </div>
        </div>

        <div class="hover-card border-0 bg-light p-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <img src="/assets/icon/ai/generice.svg" alt="Profile" class="Key-img" />
              </div>
              <div class="col d-flex align-items-center">
                <h5 class="fw-bold">Generic Campaigns</h5>
                <br />
                <!-- <small class="text-muted">UI/UX Designer</small> -->
              </div>
              <div class="col-auto">
                <img src="/assets/icon/ai/downArrow.svg" alt="Arrow" class="arrow-img" />
              </div>
            </div>
          <div class="hover-content bg-light border-0 pt-0">
            <p class="ms-5 ps-2">
              The absence of personalized marketing strategies diminishes the
              effectiveness of campaigns .
            </p>
          </div>
        </div>

        <!-- Accordion 3 -->
        <div class="hover-card border-0 bg-light p-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  src="/assets/icon/ai/underutilized.svg"
                  alt="Profile"
                  class="Key-img"
                />
              </div>
              <div class="col d-flex align-items-center">
                <h5 class="fw-bold">Underutilized Cross-Sell Potential</h5>
                <br />
                <small class="text-muted"></small>
              </div>
              <div class="col-auto">
                <img src="/assets/icon/ai/downArrow.svg" alt="Arrow" class="arrow-img" />
              </div>
            </div>
          <div class="hover-content bg-light border-0 pt-0">
            <p class="ms-5 ps-2">
              Members are not effectively targeted with relevant products or
              services, limiting cross-sell opportunities.
            </p>
          </div>
        </div>

        <!-- Accordion 4 -->
        <div class="hover-card border-0 bg-light p-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <img src="/assets/icon/ai/declining.svg" alt="Profile" class="Key-img" />
              </div>
              <div class="col d-flex align-items-center">
                <h5 class="fw-bold" >Declining Loyalty</h5>
                <br />
              </div>
              <div class="col-auto">
                <img src="/assets/icon/ai/downArrow.svg" alt="Arrow" class="arrow-img" />
              </div>
            </div>
          <div class="hover-content bg-light border-0 pt-0">
            <p class="ms-5 ps-2">
              Increased competition and lack of personalized engagement have led
              to reduced member retention .
            </p>
          </div>
        </div>
      </div>

      <!-- Side Image Column -->
      <div class="col-lg-6 text-center order-lg-2 order-1">
        <img
          src="/assets/icon/ai/Addressingkey.svg"
          alt="Side Image"
          class="side-image img-fluid"
        />
      </div>
    </div>
  </div>
  <div class="container my-lg-5 py-5" data-aos="zoom-in" data-aos-duration="3000">
      <h1 class="text-center fw-bb fs-1xl head-theme pb-5">Transformative Data & AI Solutions</h1>
    <div class="row g-4 justify-content-center">
        <!-- Side Image Column -->
      <div class="col-lg-6 text-center">
        <img
          src="/assets/icon/ai/transformative.svg"
          alt="Side Image"
          class="side-image img-fluid"
        />
      </div>
      <!-- Accordion Column -->
      <div class="col-lg-6 my-lg-auto">
        <!-- Accordion 1 -->
        <div class="hover-card border-0 bg-light p-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  src="/assets/icon/ai/MemberSegmentation.svg"
                  alt="Profile"
                  class="Key-img"
                />
              </div>
              <div class="col d-flex align-items-center">
                <h5 class="fw-bold">Member Segmentation</h5>
                <br />
              </div>
              <div class="col-auto">
                <img src="/assets/icon/ai/downArrow.svg" alt="Arrow" class="arrow-img" />
              </div>
            </div>
          <div class="hover-content bg-light border-0 pt-0">
            <p class="ms-5 ps-2">
              Implemented clustering algorithms to categorize members based on demographics and behavior.
            </p>
          </div>
        </div>

        <div class="hover-card border-0 bg-light p-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <img src="/assets/icon/ai/offerPersonalisation.svg" alt="Profile" class="Key-img" />
              </div>
              <div class="col d-flex align-items-center">
                <h5 class="fw-bold">Offer Personalization</h5>
                <br />
                <!-- <small class="text-muted">UI/UX Designer</small> -->
              </div>
              <div class="col-auto">
                <img src="/assets/icon/ai/downArrow.svg" alt="Arrow" class="arrow-img" />
              </div>
            </div>
          <div class="hover-content bg-light border-0 pt-0">
            <p class="ms-5 ps-2">
              Developed AI models for tailored product recommendations based on individual member profiles.
            </p>
          </div>
        </div>

        <!-- Accordion 3 -->
        <div class="hover-card border-0 bg-light p-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <img
                  src="/assets/icon/ai/crossSell.svg"
                  alt="Profile"
                  class="Key-img"
                />
              </div>
              <div class="col d-flex align-items-center">
                <h5 class="fw-bold">Cross-Sell and Upsell Strategies</h5>
                <br />
                <small class="text-muted"></small>
              </div>
              <div class="col-auto">
                <img src="/assets/icon/ai/downArrow.svg" alt="Arrow" class="arrow-img" />
              </div>
            </div>
          <div class="hover-content bg-light border-0 pt-0">
            <p class="ms-5 ps-2">
              Created predictive models to target members likely to engage with ancillary products.
            </p>
          </div>
        </div>

        <!-- Accordion 4 -->
        <div class="hover-card border-0 bg-light p-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <img src="/assets/icon/ai/loyality.svg" alt="Profile" class="Key-img" />
              </div>
              <div class="col d-flex align-items-center">
                <h5 class="fw-bold" >Loyalty Enhancement</h5>
                <br />
              </div>
              <div class="col-auto">
                <img src="/assets/icon/ai/downArrow.svg" alt="Arrow" class="arrow-img" />
              </div>
            </div>
          <div class="hover-content bg-light border-0 pt-0">
            <p class="ms-5 ps-2">
              Utilized machine learning to create a loyalty scorecard and predict member attrition.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container my-lg-5 py-5" data-aos="zoom-in" data-aos-duration="3000">
      <h1 class="text-center fw-bb fs-1xl head-theme pb-5">Our Engagement Model</h1>
      <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="d-flex flex-column">
                <div class="text-center position-relative">
                    <img src="/assets/icon/ai/discover.svg" alt="discover" class="img-fluid" />
                    <div class="text-center mt-3 engagement-content">
                        <h5 class="head-theme fs-lg fw-bb mb-0">Discover</h5>
                        <p class="fs-sm text-wrap">
                          Free consultation & use case prioritization</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex flex-column">
                <div class="blue-shadow text-center position-relative">
                    <img src="/assets/icon/ai/protoType.svg" alt="discover" class="img-fluid" />
                    <div class="text-center mt-3 engagement-content">
                        <h5 class="head-theme fs-lg fw-bb mb-0">Prototype</h5>
                        <p class="fs-sm">
                          Build AI PoC in 3–4 weeks</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex flex-column">
                <div class="purple-shadow text-center position-relative">
                    <img src="/assets/icon/ai/enhance.svg" alt="discover" class="img-fluid" />
                    <div class="text-center mt-3 engagement-content">
                        <h5 class="head-theme fs-lg fw-bb mb-0">Enhance</h5>
                        <p class="fs-sm">
                          Continuous improvements & roadmap planning</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex flex-column">
                <div class="blue-shadow text-center position-relative">
                    <img src="/assets/icon/ai/implement.svg" alt="discover" class="img-fluid" />
                    <div class="text-center mt-3 engagement-content">
                        <h5 class="head-theme fs-lg fw-bb mb-0">Implement</h5>
                        <p class="fs-sm">
                          Enterprise rollout with integrations</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>

<section class="main-analytics py-5">
  <div class="container">
    <div class="bg-radius pb-4">
      <div class="main-marketplace position-relative">
        <div class="flex-wrap row row-cols-lg-5 row-cols-md-2 row-cols-1 gy-2">
          <div class="col">
            <div
              class="card border-0 marketplace-card rounded-4 py-2 card-links h-100"
              [routerLink]="'/solutionmarketplace/analytics'"
              data-aos="fade-down-right"
              data-aos-duration="500"
            >
              <div class="card-header bg-transparent border-0">
                <img
                  src="/assets/icon/solutionmarket/analyticwhiteicon.svg"
                  alt="..."
                />
              </div>
              <a class="card-body">
                <p class="card-text fw-bb fs-d">Analytics Modernization POV</p>
              </a>
            </div>
          </div>
          <div class="col">
            <div
              class="card border-0 marketplace-card rounded-4 py-2 card-links h-100"
              [routerLink]="'/solutionmarketplace/dataplatform'"
              data-aos="fade-down-right"
              data-aos-duration="2000"
            >
              <div class="card-header bg-transparent border-0">
                <img
                  src="/assets/icon/solutionmarket/platformwhiteicon.svg"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <p class="card-text fw-bb fs-d">
                  Data and Platform Migration POV
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card border-0 marketplace-card rounded-4 py-2 card-links h-100"
              [routerLink]="'/solutionmarketplace/microfab'"
              data-aos="fade-down-right"
              data-aos-duration="1500"
            >
              <div class="card-header bg-transparent border-0">
                <img
                  src="/assets/icon/solutionmarket/fabricwhiteicon.svg"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <p class="card-text fw-bb fs-d">Microsoft Fabrics POV</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card border-0 marketplace-card rounded-4 py-2 card-links h-100"
              [routerLink]="'/solutionmarketplace/securitygovernance'"
              data-aos="fade-down-right"
              data-aos-duration="1000"
            >
              <div class="card-header bg-transparent border-0">
                <img
                  src="/assets/icon/solutionmarket/securitywhiteicon.svg"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <p class="card-text fw-bb fs-d">Security and Governance POV</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card border-0 marketplace-card rounded-4 py-2 card-links h-100"
              [routerLink]="'//solutionmarketplace/application'"
              data-aos="fade-down-right"
              data-aos-duration="500"
            >
              <div class="card-header bg-transparent border-0">
                <img
                  src="/assets/icon/solutionmarket/appwhiteicon.svg"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <p class="card-text fw-bb fs-d">
                  Application Modernization POV
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
