<section class="about-banner position-relative overflow-hidden" data-aos="fade-down" data-aos-duration="2000">
    <div class="position-absolute about-content">
        <span class="fw-bb fs-3xl theme-secondary">About us</span>
    </div>
    <div class="mx-auto position-absolute about-contents w-50 mt-3">
        <p class="text-center theme-secondary fw-bb fs-d ff-primary mx-3 mx-lg-0">Mahaaya is an amalgamation
          between Numentica, a provider of technology solutions, and DataPlatformExperts, specialists in data and
          platform solutions.</p>
    </div>
</section>

<section class="py-5 overflow-hidden">
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 order-2 order-lg-1" data-aos="fade-left" data-aos-duration="2000">
             <div class="py-5">
              <p class="fs-md fw-mb head-theme">We specialize in delivering nextGen solutions tailored to your unique needs. Our team brings deep expertise across leading platforms, with a strong focus on Microsoft and Databricks.We are committed to providing exceptional services that fuel business growth and transformation.</p>
             </div>

            <p class="fs-md fw-mb head-theme">Our mission is to empower businesses of all sizes to leverage the full potential of Cloud, Data and AI technologies and enhance their digital transformation journeys.</p>
          </div>
            <div class="col-lg-6 col-12 order-1 order-lg-2" data-aos="fade-right" data-aos-duration="2000">
              <div class="mission position-relative ms-lg-5">
                <img src="/assets/image/img/about/missionimg.png" alt="" class="w-100">
              </div>
            </div>
        </div>
    </div>
</section>

<section class="culture-banner overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div data-aos="fade-down" data-aos-duration="2000">
                    <span class="fw-bb fs-1xl theme-secondary">Our Culture</span>
                    <p class="fw-rb fs-d theme-secondary">Mahaaya's foundation rests upon the principles of
                      collaboration. We nurture a diverse and cooperative culture, fueled by a genuine passion for
                      nurturing business growth. Our resolute dedication lies in educating and working alongside
                      our clients, equipping them with top-notch products and processes for sustained success. The
                      immense pride we feel as an integral part of their solutions propels us to pursue excellence
                      in all aspects of our work.</p>
                </div>
            </div>
            <div class="col-lg-6 col-12"></div>
        </div>
    </div>
</section>

<section class="pt-5 overflow-hidden">
    <div class="container">
        <app-page-title [title]="' Our<span> Core Values</span>'"></app-page-title>
        <div class="row g-4 row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="our-service-card" data-aos="flip-right" data-aos-duration="2000">
                <div class="card-header border-bottom-0 text-center pt-2 mt-2">
                  <img src="/assets/icon/associateicon.svg" class="img pb-2" alt="data-consult" />
                  <h6 class="fw-bold ff-primary head-theme fs-lg">
                    Associate First
                  </h6>
                </div>
                <div class="card-body border-0 text-center">
                  <p class="w-75 mx-auto ff-primary theme-sub-sec fw-mb">Our team comprises dedicated experts who
                    are deeply committed to providing value and ensuring customer satisfaction. Motivated by their
                    own enthusiasm, we prioritize in taking care of our associates and our associates take care of
                    our customers.</p>
                </div>
                <div class="card-footer border-0 text-center pb-4">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="our-service-card-blue" data-aos="flip-right" data-aos-duration="2000">
                  <div class="card-header border-bottom-0 text-center pt-2 mt-2">
                    <img src="/assets/icon/enlivenicon.svg" class="img pb-2" alt="data-consult" />
                    <h6 class="fw-bold ff-primary head-theme fs-lg">Enliven work</h6>
                  </div>
                  <div class="card-body border-0 text-center">
                    <p class="w-75 mx-auto ff-primary theme-sub-sec fw-mb">We foster an environment where tasks and
                      projects are infused with energy, creativity, and engagement, ensuring that every team member
                      finds their work revitalizing, interesting and motivating with outstanding peers.</p>
                  </div>
                  <div class="card-footer border-0 text-center pb-4">
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6 col-12 mx-auto">
                <div class="our-service-card" data-aos="flip-right" data-aos-duration="2000">
                  <div class="card-header border-bottom-0 text-center pt-2 mt-2">
                    <img src="/assets/icon/relationshipicon.svg" class="img pb-2" alt="data-consult" />
                    <h6 class="fw-bold ff-primary head-theme fs-lg">Relationship Beyond contract</h6>
                  </div>
                  <div class="card-body border-0 text-center">
                    <p class="w-75 mx-auto ff-primary theme-sub-sec fw-mb">Building connections with clients,
                      partners, and stakeholders that extend beyond mere transactions, focusing on fostering
                      genuine, long-lasting relationships based on trust, collaboration, and mutual growth.</p>
                  </div>
                  <div class="card-footer border-0 text-center pb-4">
                  </div>
                </div>
              </div>
    </div>
    </div>
</section>

<section class="alliance-banner py-4 mt-5 overflow-hidden">
    <div class="container">
        <div class="text-center">
            <app-page-title [title]="' Our<span> Alliances</span>'"></app-page-title>
            <p class="w-50 mx-auto"></p>
        </div>
        <div class="row row-cols-lg-2 row-cols-1 gy-4 pt-4 justify-content-center">
          <div class="col">
                <div class="card border-0 mx-auto our-corevalueses rounded-4 h-100 pt-3 ps-3"
                data-aos="fade-left" data-aos-duration="2000">
                    <div class="card-header border-0 bg-transparent pt-3">
                      <img src="/assets/icon/clients/Microsoft.svg" alt="">
                    </div>
                    <div class="card-body">
                       <p class="ms-2 fs-sm fw-mb">A leading provider of cloud computing services,</p>
                    </div>
                </div>
            </div>
          <div class="col">
              <div class="card border-0 mx-auto our-corevaluese rounded-4 h-100 pt-3 ps-3"
               data-aos="fade-left" data-aos-duration="2000">
                  <div class="card-header border-0 bg-transparent">
                    <img src="/assets/icon/alians/databricks-logo.png" alt="" class="img-fluid databricks">
                  </div>
                  <div class="card-body">
                    <p class="fs-sm fw-mb">Your data. Your AI. Your future - Own them all on the new data intelligence platform</p>
                  </div>
              </div>
          </div>
            <div class="col">
                <div class="card our-corevaluese border-0 rounded-4 h-100"
                data-aos="fade-right" data-aos-duration="2000">
                    <div class="card-header border-0 bg-transparent pt-3">
                      <img src="/assets/image/img/about/alliancedenodicon.svg" alt="">
                    </div>
                    <div class="card-body">
                        <p class="ms-2 fs-sm fw-mb">Denodo Platform is the Leading Data Integration, Management and
                          Delivery Platform using Logical Approach.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card our-corevalueses border-0 rounded-4 h-100"
                 data-aos="fade-left" data-aos-duration="2000">
                    <div class="card-header border-0 bg-transparent pt-3">
                      <img src="/assets/image/img/about/alliancedogicon.svg" alt="">
                    </div>
                    <div class="card-body">
                        <p class="ms-2 fs-sm fw-mb"> Datadog is the essential monitoring and security platform for
                          cloud applications.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card our-corevalueses border-0 rounded-4 h-100"
                 data-aos="fade-right" data-aos-duration="2000">
                    <div class="card-header border-0 bg-transparent pt-3">
                      <img src="/assets/image/img/about/alliancecollibraicon.svg" alt="">
                    </div>
                    <div class="card-body">
                        <p class="ms-2 fs-sm fw-mb">The Data Intelligence Cloud</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card our-corevaluese border-0 rounded-4 h-100"
                data-aos="fade-left" data-aos-duration="2000">
                    <div class="card-header border-0 bg-transparent pt-3">
                      <img src="/assets/image/img/about/alliancearizeicon.svg" alt="">
                    </div>
                    <div class="card-body">
                        <p class="ms-2 fs-sm fw-mb">Built by ML Practitioners, for ML Practitioners</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 mx-auto our-corevalueses rounded-4 h-100"
                data-aos="fade-right" data-aos-duration="2000">
                    <div class="card-header border-0 bg-transparent">
                      <img src="/assets/icon/clients/yobisvg.svg" alt="" class="img-fluid">
                    </div>
                    <div class="card-body pt-2">
                      <p class="ms-4 mb-1 fs-sm fw-mb">Harness the power of Predictive Data Science.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<app-leadershipteam ></app-leadershipteam>

