.customer-banner {
  background-image: url('/assets/image/img/about/eventist/blogs-banner.png');
  background-repeat: no-repeat;
  width: 100%;
  height: calc(81vh - 100px);
  background-position: bottom;
  background-size: cover;
}

.customer-content {
  top: 40%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lift-left {
  border-left: 4px solid #ccd1d6;
  color: #847373;
}

.content-color {
  color: #000000 !important;
}

.nav-link {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 1rem;
  box-shadow: 0 4px 8px #101c301a;
  padding: 13px 55px;
}

.img-w-60 {
  width: 60%;
}

.blog-1 {
  border-radius: 12px;
  box-shadow: 0px 3px 32px -3px #0029581C;
  border: 0;
}

.btn-blog {
  background: #EAF0F5;
  color: #4B5356;
  border-radius: 8px;
  border: none !important;
}

.btn-blog.active {
  background: #1589FF !important;
  color: #FFFFFF !important;
}

.read-btn {
  // padding: 12px 32px 12px 32px;
  border-radius: 55px;
  border: 1px solid #1589FF;
  color: #1589FF;
  box-shadow: 0px 6px 16px 0px #002A3833;
  background: #ffffff;
}


@media(max-width:767.98px) {
  .img-w-60 {
    width: 100%;
  }
}