<section class="py-5 main-market overflow-hidden">
    <div class="mt-4 pt-5">
      <div class="container">
        <div class="card mt-5 rounded-5 marketplaces-content border-0 position-relative">
          <div class="d-lg-flex">
            <img src="/assets/image/img/marketplace/solution-banner.png" alt="" class="img-fluid solution-banner"
             data-aos="fade-left" data-aos-duration="2000">
            <div class="marketplace-content my-auto px-5" data-aos="fade-right" data-aos-duration="2000">
              <h6 class="theme-secondary fw-bb fs-1xl ff-primary">Solution Marketplace</h6>
              <p class="theme-secondary fw-rb fs-sm ff-primary">The following Proof of Values (POVs) leverages Microsoft's cloud capabilities to revamp traditional data management approaches. By seamlessly integrating Azure services, this architecture optimizes data collection, storage, processing, and visualization. The solutions portrays the orchestrated ecosystem where data pipelines, data lakes, AI/ML models, and analytical tools collaboratively function to empower data-driven insights. This modernization drives enhanced scalability, performance, and agility, highlighting the evolution from legacy systems to a cohesive, future-ready analytics framework. Our Solution Marketplace illustrates how these components converge harmoniously to deliver transformative business outcomes.</p>
                    </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="bg-radius pb-4">
        <div class="main-marketplace position-relative">
          <div class="row row-cols-lg-5 row-cols-md-2 row-cols-1 justify-content-evenly card-wrap g-3">
            <!-- CARD-1 -->
             <div class="col">
               <div class="card border-0 marketplace-card rounded-4 py-2" [routerLink]="'/solutionmarketplace/analytics'"
               data-aos="fade-down-right" data-aos-duration="2500">
                 <div class="card-header bg-transparent border-0">
                   <img src="/assets/icon/solutionmarket/analyticwhiteicon.svg" alt="...">
                 </div>
                 <div class="card-body">
                   <p class="card-text fw-bb fs-d">Analytics Modernization POV</p>
                 </div>
               </div>
             </div>
            <!-- CARD-2 -->
              <div class="col">
                <div class="card border-0 marketplace-card rounded-4 py-2" [routerLink]="'/solutionmarketplace/dataplatform'"
                data-aos="fade-down-right" data-aos-duration="2000">
                  <div class="card-header bg-transparent border-0">
                    <img src="/assets/icon/solutionmarket/platformwhiteicon.svg" alt="...">
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bb fs-d">Data and Platform Migration POV</p>
                  </div>
                </div>
              </div>
            <!-- <div class="card border-0 marketplace-card rounded-4 py-2" [routerLink]="'/solutionmarketplace/aiSolutions'"
            data-aos="fade-down-right" data-aos-duration="2000">
              <div class="card-header bg-transparent border-0">
                <img src="/assets/icon/solutionmarket/platformwhiteicon.svg" alt="...">
              </div>
              <div class="card-body">
                <p class="card-text fw-bb fs-d">AI Solutions</p>
              </div>
            </div> -->
            
            <!-- CARD-3 -->
              <div class="col">
                <div class="card border-0 marketplace-card rounded-4 py-2" [routerLink]="'/solutionmarketplace/microfab'"
                data-aos="fade-down-right" data-aos-duration="1500">
                  <div class="card-header bg-transparent border-0">
                    <img src="/assets/icon/solutionmarket/fabricwhiteicon.svg" alt="...">
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bb fs-d">Microsoft Fabric POV</p>
                  </div>
                </div>
              </div>
            <!-- CARD-4 -->
              <div class="col">
                <div class="card border-0 marketplace-card rounded-4 py-2" [routerLink]="'/solutionmarketplace/securitygovernance'"
                 data-aos="fade-down-right" data-aos-duration="1000">
                  <div class="card-header bg-transparent border-0">
                    <img src="/assets/icon/solutionmarket/securitywhiteicon.svg" alt="...">
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bb fs-d">Security and Governance POV</p>
                  </div>
                </div>
              </div>
            <!-- CARD-5 -->
              <div class="col">
                <div class="card border-0 marketplace-card rounded-4 py-2" [routerLink]="'/solutionmarketplace/application'"
                data-aos="fade-down-right" data-aos-duration="500">
                  <div class="card-header bg-transparent border-0">
                      <img src="/assets/icon/solutionmarket/appwhiteicon.svg" alt="...">
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bb fs-d">Application Modernization POV</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
