span,
.title:hover span,
.title:hover h5 {
  transition: all 0.5s ease;
}

h5 > span {
  color: var(--theme-color-primary);
}

.title:hover span {
  color: #01142b;
}

.title:hover h5 {
  color: var(--theme-color-primary) !important;
}
