.banner-head {
  color: #cdd0d7;
  line-height: 68px;
}

.logo-text {
  background-image: linear-gradient(180deg, #0fa6fc 3%, #d048fc 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-banners .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
}

.home-banners {
  height: calc(90vh - 100px);
}

.carousel-inner {
  height: calc(90vh - 100px);
}

.carousel-item {
  height: 100%;
}

.carousel-caption {
  top: 27%;
}

.carousel-indicators {
  bottom: 7%;
}

.carousel-indicators button {
  width: 9px;
  height: 7px;
  border-top: none !important;
  border-bottom: none !important;
}

.carousel-indicators button.active {
  height: 7px !important;
  width: 27px !important;
  border-radius: 35px !important;
  background-color: #0fa6fc;
  border-top: none !important;
  border-bottom: none !important;
}

.customs-alians-card {
  padding: 20px 20px;
  background: #fff;
  border-radius: 12px;
}

.partner-img .img-thumbnail {
  border-radius: 20px !important;
  border: none !important;
}

.partners-hand {
  margin-top: -11%;
}

.partners-hand::after {
  position: absolute;

  //opacity: 0.5;
  filter: blur(275px);
  content: "";
  height: 40%;
  width: 41%;
  z-index: 2;
  pointer-events: none;
  right: 13%;

  bottom: 0;
  background: #d149fd;
}

// .cards-partner {
//   z-index: 1;
// }
.partners-hand img {
  border-radius: 20px;
}

.mahaya-badge {
  background-color: #1589ff;
  border: 1px solid #ffffff;
  border-radius: 12px;
  position: absolute;
  padding: 10px 12px;
  width: 15%;
  bottom: -15%;
  left: -6%;
}

.Mahaaya-Partners-card {
  border-radius: 10px;
  background: rgba(21, 137, 255, 0.28);
  // transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.6s ease-in-out;
}

.maha-partner {
  background: rgba(21, 137, 255, 0.28);
  border-radius: 10px;
}

.Mahaaya-Partners-card:hover {
  background: linear-gradient(0deg, #1589ff -63.82%, #ffffff 134.37%);
  transition: all 0.5s ease-in-out;
  top: -19px;
}

.Mahaaya-Partners-card:hover .card-header {
  background: linear-gradient(0deg,
      #1589ff -88.82%,
      #ffffff 134.37%) !important;
  transition: all 0.5s ease-in-out;
}

.Mahaaya-Partners-card .card-header {
  background: rgba(2, 18, 68, 0.36) !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Mahaaya-Partners-card .card-body,
.Mahaaya-Partners-card .card-footer a {
  color: #ffffff;
}

.Mahaaya-Partners-card:hover .card-body,
.Mahaaya-Partners-card:hover .card-footer a {
  color: #01142b;
}

.Mahaaya-Partners-card:hover .card-footer a img {
  filter: invert(3) brightness(100%) contrast(100%);
}

.clients-card {
  background: radial-gradient(83.79% 83.79% at 50% 50%,
      rgba(217, 217, 217, 0) 0%,
      rgba(255, 255, 255, 0) 0.01%,
      rgba(22, 127, 232, 0.19) 100%),
    linear-gradient(0deg, #e9e9e9, #e9e9e9);

  border-radius: 17px;
}

hr {
  color: #f5f5f5;
}

.btn-connect {
  box-shadow: 0px 6px 16px 0px #002a3833;
  background-color: #ffffff;
  color: #1589ff;
  border-radius: 25px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.btn-connect:hover {
  background: radial-gradient(110.98% 165.01% at 50% -65.01%,
      #468cfd 0%,
      #27529e 35.59%,
      #11285a 75.2%,
      #091941 96.82%);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.service-card .card-footer {
  background-color: transparent !important;
}

.service-card .card-footer a {
  background-color: #1589ff;
  padding: 7px 7px;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.connect-card {
  background-image: url(/assets/icon/clients/connect-mask.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 75%;
  height: 100%;
  border-radius: 15px;
  background-color: #1589ff;
}

.partners-testimonial {
  background-image: url(/assets/image/img/banner-partners-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homebanner {
  height: 10vh;
}

.trust {
  margin-bottom: 19rem !important;
}

.card-border {
  border-radius: 20px;
  position: relative;
  /* left: 30px; */
}

.our-service {
  background-image: radial-gradient(#ffffff 80%, #4da5ff 168%);
  box-shadow: 1px 2px 5px 5px #0029581a;
}

.card-header {
  background-color: transparent !important;
}

.card-body img {
  box-shadow: 1px 2px 5px 5px rgba(0, 41, 88, 0.1019607843);
  padding: 5px;
  border-radius: 7px;
}

.advisory {
  height: 14rem;
}

.service {
  height: 27rem;
}

.first-card {
  margin-top: 6rem;
}

.service-card {
  box-shadow: 0px 0px 5px 0px #1589ff;
}

.service-card {
  background-image: url(/assets/image/img/global-img/alias-partners.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in;
  border-radius: 15px;
}

.service-card:hover:before {
  opacity: 0;
}

.service-card:hover .card-footer a {
  background-color: #ffffff;
}

.service-card:hover .card-footer a img {
  filter: invert(41%) sepia(58%) saturate(3055%) hue-rotate(194deg) brightness(100%) contrast(102%);
  transition: all 0.5s ease-in-out;
}

.service-card::before {
  z-index: 1;
  background-color: #fff;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.service-info {
  position: relative;
  z-index: 3;
  transition: all 0.5s ease-in-out;
}

// .card-bodys::after{

// }

.service-card:hover .card-tittle {
  color: #fff !important;
  z-index: 99;
}

.service-card:hover::after {
  opacity: 93%;
  background-image: linear-gradient(79.03deg,
      #0fa6fc 6.57%,
      #7c30ff 76.4%,
      #d048fc 115.95%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff !important;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in;
  border-radius: 15px;
}

.card:hover .svg-img img {
  filter: brightness(25.5) contrast(2.5);
}

.thump-team {
  padding: 0px 8px 8px 0px !important;
  border-radius: 25px !important;
}

.custom-alians-card {
  padding: 20px 20px;
  background: #fff;
  border-radius: 12px;
}

.even-child-bg {
  background: linear-gradient(0deg,
      #1589ff -63.82%,
      #ffffff 134.37%) !important;
}

.carousel-logo {
  background-color: #fff;
  padding: 1px 1px;
  border-radius: 12px;
  align-items: center;
}

.numentica {
  background-image: linear-gradient(180deg, #289AD6 15.89%, #293A75 92.15%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.data {
  color: #10B7BF;
}

.platform {
  color: #F39E21;
}

.experts {
  color: #F1584A;
}

.home-logo {
  width: 20%;
}

.yobi-img {
  width: 52%;
}

@media (max-width: 991.98px) {
  .card-border {
    border-radius: 20px;
    position: relative;
    left: 0;
    margin: 1.3rem;
  }

  .conversation {
    width: 100% !important;
  }

  .mahaya-badge {
    width: 26%;
  }
}

@media (max-width: 575.98px) {
  .carousel-caption h5 {
    font-size: 28px !important;
    line-height: normal !important;
  }

  .carousel-indicators {
    bottom: 3% !important;
  }

  .carousel-caption {
    right: initial !important;
    left: initial !important;
    top: 125px !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .customs-alians-card {
    padding: inherit !important;
  }

  .yobi-img {
    width: 44% !important;
  }

  .home-banners .carousel-inner .carousel-item img {
    height: 100%;
    width: 100%;
  }

  .carousel-inner {
    height: calc(70vh - 100px);
  }

  .home-banners {
    height: calc(70vh - 100px);
  }
}

@media (max-width: 575.98px) {
  .carousel-inner {
    height: calc(78vh - 100px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .carousel-indicators {
    bottom: -3% !important;
  }

  .carousel-caption h5 {
    line-height: 49px !important;
    font-size: 36px !important;
  }

  .home-banners {
    height: 35rem;
  }

  .carousel-inner {
    height: 35rem;
  }
}

@media (min-width:1025px) {
  .carousel-caption h5 {
    line-height: 54px !important;
    font-size: 45px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-caption h5 {
    line-height: 43px !important;
    // font-size: 37px !important;
  }

  // .home-banners {
  //   height: calc(100vh - 100px);
  // }

  // .carousel-inner {
  //   height: calc(100vh - 100px);
  // }

  .home-banners {
    height: 35rem;
  }

  .banner-head {
    font-size: var(--font-size-2xl) !important;
  }

  .carousel-inner {
    height: 35rem;
  }

  .carousel-caption {
    top: 36%;
  }

  .carousel-indicators {
    bottom: 1% !important;
  }
}
@media (min-width: 575px) and (max-width: 767.98px){
  .carousel-caption h5 {
    line-height: 37px !important;
  }
}

@media (min-width: 476px) and (max-width: 574.98px) {
  .carousel-caption h5 {
    line-height: 33px !important;
    // font-size: 35px !important;
  }

  .carousel-indicators {
    bottom: 1% !important;
  }
}


@media (min-width: 1400px) {
  .alliance {
    margin-left: -6rem;
  }
}

@media (max-width: 767.98px) {
  .connect-card {
    width: 100%;
  }

  .banner-head {
    line-height: inherit !important;
    font-size: var(--font-size-2xl) !important;
  }

  .home-banners {
    height: 35rem;
  }

  .carousel-inner {
    height: 36rem;
  }
}