<!-- BANNER-CAROUSEL -->
<section class="home-banners overflow-hidden">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">

      <ol class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active rounded-circle"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          class="rounded-circle"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          class="rounded-circle"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-label="Slide 4"
          class="rounded-circle"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="4"
          aria-label="Slide 5"
          class="rounded-circle"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="5"
          class="rounded-circle"
          aria-label="Slide 6"
        ></button>
      </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://d3hnagtjo0sr6w.cloudfront.net/assets/image/img/Home banner0.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block" data-aos="fade-down" data-aos-duration="2000">
          <div class="w-100 my-lg-5 mt-3">
            <h5 class="ff-primary banner-head fs-3xl fw-bold mb-3 theme-secondary">
              Embark on Your Digital Transformation Journey with
              <span class="logo-text">Mahaaya</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://d3hnagtjo0sr6w.cloudfront.net/assets/image/img/homeBannerNew.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <div class="w-100 my-lg-5 mt-3">
            <h5 class="ff-primary banner-head fs-3xl fw-bold mb-3 theme-secondary">
              Accelerate Innovation with Enterprise - Ready Databricks - Built with
              <span class="logo-text">Mahaaya</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://d3hnagtjo0sr6w.cloudfront.net/assets/image/img/Homebanner2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <div class="w-100 my-lg-5 mt-3">
       <h5  class="ff-primary banner-head fs-3xl fw-bold mb-3 theme-secondary">Unleashing innovation by blending technology and data </h5>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://d3hnagtjo0sr6w.cloudfront.net/assets/image/img/Homebanner3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <div class="w-100 my-lg-5 mt-3">
         <h5  class="ff-primary banner-head fs-3xl fw-bold mb-3 theme-secondary">Weaving a dynamic fabric of interconnected data
</h5>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://d3hnagtjo0sr6w.cloudfront.net/assets/image/img/homebanner4.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <div class="w-100 my-lg-5 mt-3">
         <h5  class="ff-primary banner-head fs-3xl fw-bold mb-3 theme-secondary">Turning data into insights
</h5>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://d3hnagtjo0sr6w.cloudfront.net/assets/image/img/homebanner5.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-md-block">
          <div class="w-100 my-lg-5 mt-3">
         <h5  class="ff-primary banner-head fs-3xl fw-bold mb-3 theme-secondary">Where digital transformation, analytics modernization, and AI converge to shape a smarter, more agile tomorrow.
</h5>
        </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- SEC-2-CONTENT -->
<section class="sub-secondary-color-bg pt-5 mt-3 mb-0 pb-0 overflow-hidden">
  <div class="container" data-aos="fade-down" data-aos-duration="3000" data-aos-anchor-placement="top-bottom">
    <div class="partners">
      <div class="row">
        <div class="col-lg-6 col-12 my-auto order-1 order-lg-0">
           <p class="ff-primary fw-bold head-theme fs-lg mb-3 lh-35"><span><img src="/assets/icon/global-icon/home-logo.svg" alt="" class="mb-2 home-logo"></span> excels in leveraging cutting-edge tools and technologies to drive innovation and deliver tangible results.</p>

           <p class="ff-primary fw-bold head-theme fs-lg mb-3 lh-35"><span><img src="/assets/icon/global-icon/home-logo.svg" alt="" class="mb-2 home-logo"></span> is an amalgamation between <span class="numentica">Numentica</span>, a provider of technology solutions, and <span class="data">Data</span><span class="platform">Platform</span><span class="experts">Experts</span>, specialists in data and platform solutions. </p>

           <p class="ff-primary fw-bold head-theme fs-lg mb-3 lh-35">We are your trusted allies in embracing the disruptive future of Data and AI.</p>

        </div>
        <div class="col-lg-6 col-12 order-0 order-lg-1">
            <div class="ms-lg-5 w-100 h-100">
              <div class="card border-0">
                <img
                src="https://d3hnagtjo0sr6w.cloudfront.net/assets/image/img/favimg.png"
                alt="Mahaaya | company discussion"
                class="img-fluid h-100"
              />
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<!-- OUR-PRIMARY-ALLIANCES -->
<section class="partners-testimonial py-5 overflow-hidden">
  <div class="position-relative py-4">
    <div class="container">
      <div class="row primary-alliance custom-nav position-relative">
        <h5 class="ff-primary fs-1xl fw-bold head-theme mb-4">Our Primary Alliance</h5>
        <owl-carousel-o [options]="clientOptionstwo">
            <ng-container>
              <ng-template carouselSlide>
                <div class="d-flex mt-lg-2 pb-lg-4">
                  <a href="#" class="ms-3">
                    <img
                    src="/assets/icon/clients/microsoft-logo.svg"
                    alt="Mahaaya | partner microsoft"
                    class="img img-fluid"
                  />
                  </a>

                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-12" data-aos="fade-left" data-aos-duration="3000">

                  <div class="mt-4">
                    <img
                      src="/assets/icon/clients/microsoftbanner.png"
                      alt="Mahaaya | team alias and partners "
                      class="rounded-4 conversation img img-fluid thump-team"
                    />
                  </div>
                </div>
                <div class=" col-lg-6 col-sm-12" data-aos="fade-right" data-aos-duration="2000">
                <div class="my-auto">
                   <p class="fw-semibold fs-lg  head-theme ff-primary my-5 alliance">
                    As a solutions partner for Microsoft, we offer clients a compelling combination of IP solutions,
                    abundant knowledge and resources. This powerful alliance aims to support organizations in achieving
                    their business objectives and remaining competitive in today’s fast-paced market.</p>
                </div>


                </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="d-flex mt-lg-2 pb-lg-2">
                  <a href="#" class="ms-3">
                    <img
                    src="/assets/icon/clients/databricks.svg"
                    alt="Mahaaya | partner microsoft"
                    class="img img-fluid"
                  />
                  </a>

                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-12" data-aos="fade-left" data-aos-duration="3000">

                  <div class="mt-4">
                    <img
                      src="/assets/icon/clients/databricksbanner.png"
                      alt="Mahaaya | team alias and partners "
                      class="rounded-4 conversation img img-fluid thump-team"
                    />
                  </div>
                </div>
                <div class=" col-lg-6 col-sm-12" data-aos="fade-right" data-aos-duration="2000">
                <div class="my-auto">
                   <p class="fw-semibold fs-lg  head-theme ff-primary mt-5 alliance">
                    As a partner of Databricks, we bring our clients the power of a unified data analytics platform combined with deep technical expertise and proven delivery experience. This collaboration enables us to help organizations simplify data management, accelerate analytics, and operationalize AI across their business.</p>
                   <p class="fw-semibold fs-lg  head-theme ff-primary alliance">
                     Together with Databricks, we empower enterprises to unlock the full potential of their data, driving innovation and delivering real, measurable outcomes in today’s data-driven world.</p>
                </div>
                </div>
                </div>
              </ng-template>
            </ng-container>
        </owl-carousel-o>

      </div>
    </div>
  </div>
</section>

<!-- OTHER-ALLIANCES -->
<section class="bg-highlight-primary py-5 mb-4">
  <div class="container">
    <h5 class="ff-primary text-center fw-semibold theme-secondary fs-1xl">Other Alliances</h5>
    <div class="partnerswith my-4">
      <div class="row row-cols-lg-6 row-cols-md-2 row-cols-1 g-4 justify-content-between">
        <div class="col">
          <div class="custom-alians-card text-center" data-aos="flip-right" data-aos-duration="500">
            <img src="/assets/icon/alians/arize-logo.svg" alt="Mahaayaa|arize" class="img img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="custom-alians-card text-center even-child-bg" data-aos="flip-right" data-aos-duration="1000">
            <img src="/assets/icon/alians/denondo-logo.svg" alt="Mahaaya | allias partners"  class="img img-fluid ">
          </div>
        </div>
        <div class="col">
          <div class="custom-alians-card text-center" data-aos="flip-right" data-aos-duration="1500">
            <img src="/assets/icon/alians/data-dog-logo.svg" alt="Mahaaya | allias partners"  class="img img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="custom-alians-card text-center even-child-bg" data-aos="flip-right" data-aos-duration="2000">
            <img src="/assets/icon/alians/collibra-logo.svg" alt="Mahaaya | allias partners"  class="img img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="customs-alians-card text-center" data-aos="flip-right" data-aos-duration="2500">
            <img src="/assets/icon/clients/yobisvg.svg" alt="Mahaayaa|arize" class="img-fluid yobi-img">
          </div>
        </div>
        <!-- <div class="col">
          <div class="customs-alians-card text-center  even-child-bg">
            <img src="/assets/icon/alians/databricks-logo.svg" alt="Mahaayaa|arize" class="img img-fluid w-auto">
          </div>
        </div> -->

        <!-- <div class="col">
          <div class="custom-alians-card text-center even-child-bg h-100" data-aos="flip-right" data-aos-duration="3000">
            <img src="/assets/icon/alians/databricks-logo.svg" alt="Mahaaya | allias partners"  class="img img-fluid h-100 w-100">
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<!-- OUR-CAPABILITIES -->
<section class="py-4 overflow-hidden">
  <div class="container" data-aos="fade-down" data-aos-duration="3000">
    <app-page-title [title]="' Our<span> Capabilities</span>'"></app-page-title>
    <div class="my-3">
      <div class="text-center w-75 mx-auto">
        <h6 class="ff-primary fw-semibold head-theme my-4 fs-xl">
          Cloud Advisory Services
        </h6>
        <div class="row g-4">
          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" (click)="navigateToElement('da-strategy')">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/architectstrategy.svg"
                  alt="Mahaaya | data and Architecture Strategy "
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-1 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d mb-0">Data and Architecture Strategy</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" (click)="navigateToElement('dt-strategy')">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/tranformationstrategy.svg"
                  alt="Mahaaya | Digital Transformation "
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-1 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d mb-0">Digital Transformation Strategy</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" (click)="navigateToElement('ca-strategy')">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/optimizationstrategy.svg"
                  alt="Mahaaya | cloud Optimization"
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-2 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d mb-0">Cloud Optimization Strategy</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="text-center w-75 mx-auto mt-5 pt-3">
        <h6 class="ff-primary fw-semibold head-theme mb-3  fs-xl">
          Technology Consulting
        </h6>
        <div class="row g-4">
          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" (click)="navigateToElement('c-modernize')">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/cloudmodernization.svg"
                  alt="Mahaaya | cloud Modernization"
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-1 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d mb-0">Cloud Modernization </p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" (click)="navigateToElement('data-vishual')">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/visualization.svg"
                  alt="Mahaaya | data Engineering & Visualization"
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-1 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d mb-0">Data Engineering & Visualization</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" (click)="navigateToElement('analytic-modern')">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/analyticsmodernization.svg"
                  alt="Mahaaya | analytics-modernize"
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-1 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d mb-0">Analytics Modernization </p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" (click)="navigateToElement('data-governance')">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/datagovernance.svg"
                  alt="Mahaaya | data Governance"
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-1 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d mb-0">Data Governance</p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" [routerLink]="'/solutionmarketplace/aiSolutions'">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/artificial-intelligence 1.svg"
                  alt="Mahaaya | Ai & Cognitive services"
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-1 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d mb-0">AI & Cognitive Services </p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center w-100 h-100 border-0 service-card" (click)="navigateToElement('secure-compile')">
              <div class="card-header pt-4 svg-img service-info border-0">
                <img
                  src="/assets/icon/capabilities/security.svg"
                  alt="Mahaaya | security and compailence"
                  class="img img-fluid"
                />
              </div>
              <div class="card-body px-4 py-1 service-info">
                <div class="card-tittle">
                  <p class="fw-semibold fs-d">Security and Compliance</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- OUR-CLIENTS -->
<section class="bg-highlight-primary py-5 overflow-hidden" [routerLink]="'/customer'">
 <div class="container">
  <h5 class="text-center ff-primary theme-secondary fw-semibold fs-1xl">Our Clients</h5>
 </div>
    <div class="Mahaya-clients mb-3">
      <div class=" pt-5">
           <owl-carousel-o [options]="clientOptions">
            <ng-container>
              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/acumidata.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/bank_of_hope.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/bfi-solution.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/nuskin.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/con-met.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/consolitated-fire.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/danaher.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>
              <!-- <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/Ej-walley.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template> -->
              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/experian.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/ingram.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/legal-connect.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/legalzoom.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/lower-pills.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/ms-national.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/perceptyx.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

              <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/phenoomenex.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>
              <!-- <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/point-72.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template> -->
               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/prc.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/prima-health.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/quidel.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/reflexis.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>

               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/relar.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>
               <!-- <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/shure.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template> -->
               <!-- <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/summons.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template> -->
               <!-- <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/tetrapak.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template> -->
               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/vms-finance.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>
               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/west-bank.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>
               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/west-cost.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>
               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/west-field.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>
               <ng-template carouselSlide>
                <div class="carousel-logo d-flex flex-column justify-content-center h-100">
                  <img src="/assets/icon/partners/american-clg.svg" alt="Mahaaya | allias partners" class="img-fluid"
                    style="height: 100px; width: 75%;" />
                </div>
              </ng-template>


            </ng-container>
          </owl-carousel-o>

      </div>
    </div>
</section>

<!-- LET'S-CONNECT -->
<section class="connect mt-4 overflow-hidden">
  <div class="container" data-aos="zoom-in" data-aos-duration="3000">
    <div class="connect-card mx-auto my-5 px-5 py-4 text-center">
      <p class="ff-primary fw-light fs-lg banner-head mb-0">
        Begin Your Cloud Transformation Voyage Today
      </p>
      <h5 class="ff-primary fw-bold theme-secondary">
        Achieve Seamless Cloud Operations and Embrace the Ultimate Azure
        Experience with Mahaaya Experts
      </h5>
      <button class="btn btn-connect ff-primary fs-d px-4 py-2 mt-1" [routerLink]="'/contact-us'">Lets Connect</button>
    </div>
  </div>
</section>

