.contact-social {
  padding: 3px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

ul li {
  list-style-type: none;
}
hr {
  color: aliceblue !important;
}

.color-grey {
  color: #ccd1d6;
}

a {
  cursor: pointer !important;
}
