.dvc-btn::before{
content: url(/assets/icon/arrowicon.svg);
position: absolute;
height: auto;
width: auto;
z-index: 9;
left: -51px;
top: 8px;
rotate: 441deg;
}

.dvce-btn::before{
    content: url(/assets/icon/arrowicon.svg);
    position: absolute;
    height: auto;
    width: auto;
    z-index: 9;
    left: -43px;
    top: -21px;

    }
    
.marketplace-card{
width: 18%;
box-shadow: 0px 4px 14px 0px #00000012;
}

.radimg{
background-color: #D3E9FF;
padding: 10px;
border-radius: 18px;
}


.card-links{
    cursor: pointer;
}

.pov-bg{
    background-color: #d5d5d5;
    padding: 1rem 2rem;
}

.head-themes{
    color: #0f509f;
}

.carousel-indicators {
    bottom: -46px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0d6efd;
}
@media (max-width: 1199.98px) { 
    .analytics-para{
        padding:inherit;
    }

    .analytics-paras{
        padding:inherit;
    }
}

// .microfab-card{
//     height: 20rem;
// }

.microfab-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.server-card{
    height: 40rem;
}

// .outcomes-card{
//     height: 35rem;
// }

// .strategy{
//     margin-top: 6rem;
// }

@media (max-width: 425px) {
    .marketplace-card{
        width: 100% !important;
        }
}

@media (max-width: 991.98px) {
    .server-card{
        height: auto !important;
    }
 }