.dvc-btn::before{
content: url(/assets/icon/arrowicon.svg);
position: absolute;
height: auto;
width: auto;
z-index: 9;
left: -46px;
top: -24px;
}

.marketplace-card{
box-shadow: 0px 4px 14px 0px #00000012;
}

.radimg{
background-color: #D3E9FF;
padding: 10px;
border-radius: 18px;
}

.card-links{
    cursor: pointer;
}

@media (max-width: 1199.98px) { 
    .analytics-para{
        padding:inherit;
    }

    .analytics-paras{
        padding:inherit;
    }
}

// .dataplatform-card{
//     height: 20rem;
// }

.dataplatform-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 425px) {
    .card-links{
        width: 100%;
    }
}
@media (max-width: 575.98px) {
    .analytic-content{
        top: 33px;
    }
}