<!-- BANNER -->
<section class="py-5 customer-banner position-relative overflow-hidden">
    <div class="mt-4 pt-5 position-absolute customer-content" data-aos="fade-down" data-aos-duration="2000">
      <h6 class="fw-bb fs-2xl theme-secondary ff-primary">Events</h6>
    </div>
</section>

<!-- EVENTS-CARD-1 -->
<section class="my-5 overflow-hidden" data-aos="fade-down" data-aos-duration="3000">
    <h5 class="ff-primary fw-bb fs-1xl text-center mb-4">Tech Talk - Where Visionaries Converge</h5>
    <div class="container">
        <div class="card eventist p-4 mt-3">
            <div class="row">
                <div class="col-lg-3">
                    <div>
                        <img src="/assets/image/img/about/eventist/mohanjoi.png" alt="" class="img-fluid eventer-img">
                        <div class="eventer-detail p-3 rounded-4 mt-2">
                            <h5 class="primary-theme-color fw-bb fs-xl">Mohan Kumar</h5>
                            <p class="mb-0 head-theme fw-rb fs-d">Chief Technology Officer</p>
                            <small class="fw-rb ">(Former Principal Architect at Microsoft)</small>
                        </div>
                        <div class="mt-4 w-100">
                            <a class="border-0 bg-transparent py-3 px-4 rounded-4 linkedin" href="https://www.linkedin.com/company/mahaaya/" target="_blank"><span class="fw-rb fs-md theme-secondary">Follow us on <img src="/assets/image/img/about/eventist/linkedIcon.svg" alt="" class="my-auto mb-2 me-1">LinkedIn</span></a>
                        </div>
                        <p class="mb-0 mt-3">to stay tuned for our upcoming <br>episodes.</p>
                    </div>
                </div>
      <div class="col-lg-9 inside">
       <div>
          <p class="fw-rb fs-md head-theme">In an era defined by technological revolution, staying ahead of the curve is not just an
           advantage—it's imperative. Welcome to "Tech Talk", an exclusive forum where the
           brightest minds in tech converge to share insights, unravel disruptive technologies, and
           chart a course for success in the digital age.</p>
      </div>

          <div class="mt-4 pt-3">
             <h5 class="fw-bb fs-lg primary-theme-color mb-3">What is "Tech Talk"?</h5>
             <p class="fw-rb fs-md head-theme">"Tech Talk" is not just a show—it's a conversation that will reshape the way you think
              about technology and its impact on business. Hosted by our visionary Chief Technology
              Officer (CTO), Mohan Kumar, and featuring distinguished industry leaders, this series is
              set to become the compass guiding businesses towards innovation and prosperity.</p>
          </div>
                <div class="mt-5 pt-3">
                  <h5 class="fw-bb fs-lg primary-theme-color mb-3">Why Tune In?</h5>
                  <ul class="ps-0">
                  <li class="fw-rb fs-md head-theme list-unstyled"><span class="ms-2"><img src="/assets/image/img/about/eventist/tickimg.svg" alt="tick" class="im-fluid mb-2 me-1"> Learn from successful leaders who will share unparalleled expertise</span></li>
                  <li class="fw-rb fs-md head-theme list-unstyled"><span class="ms-2"><img src="/assets/image/img/about/eventist/tickimg.svg" alt="tick" class="im-fluid mb-2 me-1"> Disruptive technologies demystified</span></li>
                  <li class="fw-rb fs-md head-theme list-unstyled"><span class="ms-2"><img src="/assets/image/img/about/eventist/tickimg.svg" alt="tick" class="im-fluid mb-2 me-1"> Market insights, not just predictions</span></li>
                  <li class="fw-rb fs-md head-theme list-unstyled"><span class="ms-2"><img src="/assets/image/img/about/eventist/tickimg.svg" alt="tick" class="im-fluid mb-2 me-1"> Discover real world stories and proven strategies</span></li>
                  </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EVENTS-CARDS-SEC-2 -->
<section class="py-5 my-3 overflow-hidden">
<div class="container">
<ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
  <!-- TAB-1 -->
  <li class="nav-item m-2" role="presentation">
    <button class="nav-link btn-event fs-xl fw-bb lh-24 py-3 px-5 active " id="pills-event23-tab" data-bs-toggle="pill" data-bs-target="#pills-event23" type="button" role="tab" aria-controls="pills-event23" aria-selected="true">2023</button>
  </li>
  <!-- TAB-2 -->
  <li class="nav-item m-2" role="presentation">
    <button class="nav-link btn-event fs-xl fw-bb lh-24 py-3 px-5" id="pills-event24-tab" data-bs-toggle="pill" data-bs-target="#pills-event24" type="button" role="tab" aria-controls="pills-event24" aria-selected="false">2024</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <!-- TAB-1 -->
  <div class="tab-pane fade show active" id="pills-event23" role="tabpanel" aria-labelledby="pills-event23-tab" tabindex="0">
    <div class="row g-3">
      <div class="col-lg-6">
        <!-- card-1 -->
        <a href="https://lnkd.in/dQruxrMA" target="_blank">
        <div class="card event-1 p-lg-3 p-1 h-100" data-aos="fade-right" data-aos-duration="2000">
          <!-- top-text -->
          <div class="text-center p-lg-4 mt-3">
          <h6 class="fs-xl fw-rb primary-theme-color lh-base">Join us for the <span class="fw-800"> Tech Talk</span></h6>
          <h6 class="secondary-color fs-xl fw-rb lh-base">Unlocking the Power of </h6>
          <h6 class="secondary-color fw-800 fs-3-5xl letter-space">Microsoft Fabric</h6>
          <p class="fw-rb fs-lg lh-base primary-theme">Transforming Data Management and Insights</p>
          <p class="mb-0 mt-4">
            <span class="fw-lb fs-md text-muted fw-bb">
                <img src="/assets/icon/calender.svg" alt="" class="me-2 mb-2">Date: <span class="primary-theme-color">Thursday, November 16, 2023</span>
            </span> <br>
            <span class="me-4 fw-lb fs-md fw-bb text-muted">
                <img src="/assets/icon/clock.svg" alt="" class="me-2 mb-2">Time:<span class="primary-theme-color"> 10am PT, 12pm CT, 1pm ET</span>
              </span>
            </p>
          </div>
          <!-- bottom-img's -->
            <div class="row pb-3 mt-3 g-3">
              <div class="col-sm-6">
                <div class="text-center">
                  <img src="/assets/image/img/about/event1 (1).png" alt="host" class="img-fluid px-lg-0 px-5">
                  <div>
                    <div class="">
                    <img src="/assets/icon/host.svg" alt="/" class="host-ico position-relative">
                      <button class="px-5 py-1 fw-rb fs-xsm host"> Host</button>
                    </div>
                  <p class="mb-0 fw-bb fs-md primary-theme-color mt-2">Mohan Kumar</p>
                  <span class="fw-bb fs-xsm primary-theme">Chief Technology Officer at Mahaaya</span><br>
                  <span class="fw-rb fs-xsm px-1 primary-theme">(Former Principal Architect at Microsoft)</span>
                  </div>
              </div>
              </div>

              <div class="col-sm-6">
                <div class="text-center">
                  <img src="/assets/image/img/about/event2.png" alt="Speaker" class="img-fluid px-lg-0 px-5">
                  <div>
                    <div>
                      <img src="/assets/icon/host.svg" alt="." class="host-ico position-relative">
                      <button class="ps-5 pe-3 py-1 fw-rb fs-xsm host">Guest Speaker</button>
                    </div>

                  <p class="mb-0 fw-bb fs-md primary-theme-color mt-2">Sachin Saraf</p>
                  <span class="fw-bb fs-xsm primary-theme">Sr. Cloud Solution</span><br>
                  <span class="fw-bb fs-xsm primary-theme">Architect (Data and AI) at Microsoft</span>
                  </div>
              </div>
              </div>
            </div>

            <div class="text-center my-3">
              <a type="button" class="fs-d fw-rb read-btn py-3 text-center"
              href="https://lnkd.in/dQruxrMA" target="_blank">
              Watch Now</a>
            </div>
        </div>
        </a>
      </div>

      <div class="col-lg-6">
        <!-- card-2 -->
        <a href="https://www.linkedin.com/events/unlockinginnovation-deepdiveint7133710733191561216/comments/"
        target="_blank">
        <div class="card event-1 p-2 h-100" data-aos="fade-left" data-aos-duration="2000">
          <!-- top-text -->
          <div class="text-center px-lg-5 py-5">
            <h6 class="fs-xl fw-rb primary-theme-color lh-base">Join us for the <span class="fw-800"> Tech Talk</span></h6>
            <h6 class="secondary-color fs-xl fw-rb lh-base">Unlocking Innovation</h6>
            <h6 class="secondary-color fw-800 fs-3-5xl letter-space">Microsoft <br>Azure Open AI</h6>
            <p class="fw-rb fs-lg lh-base primary-theme">Build Intelligent Apps with AI models</p>
            <p class="mb-0 mt-4">
              <span class="fw-lb fs-md text-muted fw-bb">
                  <img src="/assets/icon/calender.svg" alt="" class="me-2 mb-2">Date: <span class="primary-theme-color"> Thursday, December 7, 2023 </span>
              </span> <br>
              <span class="fw-lb fs-md fw-bb text-muted">
                  <img src="/assets/icon/clock.svg" alt="" class="me-2 mb-2">Time:<span class="primary-theme-color"> 10am PT, 12pm CT, 1pm ET</span>
                </span>
              </p>
            </div>
            <!-- bottom-img's -->
            <div class="row pb-3 g-3 mt-3">
              <div class="col-sm-6">
                <div class="text-center">
                  <img src="/assets/image/img/about/AI-event-host.png" alt="host" class="img-fluid px-lg-3 px-5">
                  <div class="mt-3">
                  <p class="mb-0 fw-bb fs-md primary-theme-color">Pushker Sahai</p>
                  <span class="fw-bb fs-xsm px-1 primary-theme">Director - Data Analytics</span><br>
                  <span class="fw-rb fs-xsm px-1 primary-theme">(Former Principal Architect at Google)
                    Mahaaya</span>
                  </div>
              </div>
              </div>

              <div class="col-sm-6">
                <div class="text-center">
                  <img src="/assets/image/img/about/AI-event-speaker.png" alt="Speaker" class="img-fluid px-lg-0 px-4">
                  <div class="mt-4">
                  <p class="mb-0 fw-bb fs-md primary-theme-color">Asmita Usturge</p>
                  <span class="fw-bb fs-xsm px-1 primary-theme">Senior Technical Specialist</span><br>
                  <span class="fw-rb fs-xsm px-1 primary-theme">Azure Al, Microsoft.</span>
                  </div>
              </div>
              </div>
            </div>

            <div class="text-center my-3">
              <a type="button" class="fs-d fw-rb read-btn py-3 text-center"
              href="https://www.linkedin.com/events/unlockinginnovation-deepdiveint7133710733191561216/comments/"
              target="_blank">Watch Now</a>
            </div>
        </div>
        </a>
      </div>
    </div>
  </div>

  <!-- TAB-2 -->
  <div class="tab-pane fade" id="pills-event24" role="tabpanel" aria-labelledby="pills-event24-tab" tabindex="0">COMING SOON...</div>

</div>
</div>
</section>


<!-- <a href="https://www.linkedin.com/events/unlockinginnovation-deepdiveint7133710733191561216/comments/"
target="_blank">
<section class="event-poster">
  <div class="container-fluid">
    <div class="py-5 d-flex justify-content-center">
      <img src="/assets/image/img/about/eventist/AI-event-poster.png" alt="AI-Event" class="img-fluid event-AI w-100">
    </div>
  </div>
</section>
</a> -->

<!-- <a href="https://lnkd.in/dQruxrMA" target="_blank">
    <section class="py-5">
        <div class="container">
          <div class="card px-3 py-5 border-0 upcoming-card">
                <div class="row">
                    <div class="col-lg-3">
                            <div class="text-center">
                                <img src="/assets/image/img/about/event1 (1).png" alt="">
                                <div>
                                    <button class="px-4 rounded-5 border-0 host"><span>Host</span></button>
                                <p class="mb-0 fw-bb fs-md primary-theme-color">Mohan Kumar</p>
                                <span class="fw-bb fs-sm">Chief Technology Officer at Mahaaya</span><br>
                                <span class="fw-rb fs-xsm text-muted">(Former Principal Architect at Microsoft)</span>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center techtalk">
                            <p class="fw-bb fs-xl primary-theme-color">Join Us for the Tech Talk </p>
                            <h5 class="fw-lb fs-1xl primary-theme mt-2">Unlocking the Power of</h5>
                            <h1 class="fs-3xl fw-bb primary-theme mt-3">Microsoft Fabric</h1>
                            <span class="fw-lb fs-lg head-theme mt-1">Transforming Data Management and Insights</span>
                            <p class="mb-0 mt-4">
                                <span class="fw-lb fs-md">
                                    <img src="/assets/icon/calender.svg" alt="" class="me-2 mb-2"><span class="text-muted">Date: </span>Thursday, November 16, 2023
                                </span> <br>
                                <span class="me-4 fw-lb fs-md">
                                    <img src="/assets/icon/clock.svg" alt="" class="me-2 mb-2"><span class="text-muted">Time:</span> 10am PT, 12pm CT, 1pm ET</span>
                                </p>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-center">
                            <img src="/assets/image/img/about/event2.png" alt="">
                            <div>
                                <button class="px-4 rounded-5 border-0 host">Guest Speaker</button>
                            <p class="mb-0 fw-bb fs-md primary-theme-color">Sachin Saraf</p>
                            <span class="fw-rb fs-xsm text-muted">Sr. Cloud Solution
                                Architect (Data and AI) at Microsoft</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </section>
</a> -->
<!-- <div class="mt-4 w-100">
        <a class="border-0 bg-transparent py-3 px-4 rounded-4 linkedin" href="https://www.linkedin.com/company/mahaaya/" target="_blank"><span class="fw-rb fs-md theme-secondary">Follow us on <img src="/assets/image/img/about/eventist/linkedIcon.svg" alt="" class="my-auto mb-2 me-1">LinkedIn</span></a>
     </div> -->
