//  nexa

@font-face {
  font-family: "Nexa";
  src: url("/assets/font/Nexa-Bold.woff") format("woff"),
    url("/assets/font/Nexa-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("/assets/font/Nexa-Light.woff") format("woff"),
    url("/assets/font/Nexa-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa";
  src: url("/assets/font/Nexa-Black.woff") format("woff"),
    url("/assets/font/Nexa-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa";
  src: url("/assets/font/Nexa-Book.woff") format("woff"),
    url("/assets/font/Nexa-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nexa";
  src: url("/assets/font/Nexa-Thin.woff") format("woff"),
    url("/assets/font/Nexa-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
