<section class="py-5 customer-banner position-relative overflow-hidden" data-aos="fade-down" data-aos-duration="2500">
    <div class="mt-4 pt-5 position-absolute customer-content">
<h6 class="fw-bb fs-2xl theme-secondary ff-primary">Some of Our Preferred Clients</h6>
    </div>
</section>
<section class="py-5 customer-bg">
    <div class="mt-3">
        <div class="container">
            <div class="mt-3 customer-page p-5 rounded-3">
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-1 g-4 text-center">
            <div class="col">
                <img src="/assets/image/img/customerimgs/lowerbills.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/mmsimg.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/westcost.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/westfield.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/acumidata.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/bankofhope.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/bfiimg.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/relar.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/conmet.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/consolitad.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/danaher.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/eastwest.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/experian.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/ingram.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/legalzoomimg.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/legalconnectimg.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/msimg.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/perceptyx.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/phenomenex.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/american.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/prcimg.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/qudel.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/refleximg.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
            <div class="col">
                <img src="/assets/image/img/customerimgs/primeimg.png" alt="" data-aos="flip-down" data-aos-duration="2000">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
