.analytics-card {
  background: transparent;
  border: none;
}
.talk-to-btn {
    background: #fff;
    color: #267CE1;
    border-radius: 50px;
    &:hover {
        color: #fff;
        background: #267CE1;
    }
}
.salesforce-performance-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .salesforce-performance-image {
    max-width: 500px;
    width: 100%;
    max-height: 350px;
    height: 100%;
  }
}

.salesforce-expertise-section {
  background: linear-gradient(99.55deg, #edf6ff -0.58%, #8bc5ff 88.02%);
}

.expertise-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .down-arrow {
    display: none;
  }
}

.active-text {
  background: linear-gradient(90.36deg, #d048fc 0.11%, #0365c8 50.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 18px;
}

.expertise-text {
  &:hover {
    color: #0365c8;
    cursor: pointer;
  }
}

.expertise-selected-content {
  padding: 30px 20px;
  max-width: 700px;
  width: 100%;
  height: 100%;

  ::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 20px;
    background: linear-gradient(280.08deg, #0365c8 0%, #d048fc 99.26%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    box-shadow: 2px 2px 4px 0px #00000014;
  }
}

.why-salesforce {
  p {
    color: #636363;
  }
}

.salesforce-services-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  .service-card {
    padding: 20px;
    border: 2px solid #f2f9ff;
    width: 400px;
    height: 230px;

    &:hover {
      transform: translateY(-5px);
      background: linear-gradient(320deg, #72b7fe -65.54%, #fff 58.76%);
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
  }
}

.connect-card {
  background-image: url(/assets/image/img/salesforce/salesforce-contact.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 75%;
  margin-bottom: -28px;
  backdrop-filter: blur(3.799999952316284px);
  border-radius: 16px;

  .connect-btn {
    box-shadow: 0px 6px 16px 0px #002a3833;
    background-color: #1589ff;
    color: #ffffff;
    border-radius: 25px;
    text-align: center;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: radial-gradient(
        110.98% 165.01% at 50% -65.01%,
        #468cfd 0%,
        #27529e 35.59%,
        #11285a 75.2%,
        #091941 96.82%
      );
      color: #fff;
      transition: all 0.5s ease-in-out;
    }
  }
}

@media (max-width: 1200px) {
  .connect-card {
    .break-tag {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .salesforce-performance-section {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .expertise-content {
    flex-direction: column;
    gap: 10px;

    .right-arrow {
        display: none;
    }

    .down-arrow {
      display: inline-block;
    }
  }
}

@media (max-width: 992px) {
    .analytic-content {
        top: 15%;
    }
  .connect-card {
    width: 100%;
  }

  .break-tag {
    display: none;
  }
}

@media (max-width: 768px) {
  .analytic-content {
    h6 {
      font-size: 26px !important;
    }
    p {
      font-size: 14px !important;
    }
  }

  .connect-card {
    font-size: 16px !important;
  }
}

@media (max-width: 575px) {
  .analytic-content {
    top: 15%;
    left: 30px;

    h6 {
      font-size: 20px !important;
    }
    p {
      font-size: 12px !important;
    }
  }

  .salesforce-banner {
    height: 200px !important;
  }

  .salesforce-performance-section {
    div {
      p {
        font-size: 16px !important;
      }
    }
  }

  .salesforce-performance-section,
  .why-salesforce {
    padding: 15px 10px !important;
  }

  .salesforce-services-card, .salesforce-expertise-section {
    padding: 15px 0 !important;
  }

  .expertise-content {
    align-items: center;
  }

  .expertise-selected-content {
    h5 {
        font-size: 16px !important;
    }
  }
}

@media (max-width: 400px) {
  .main-analytics,
  .salesforce-services-card {
    padding: 15px 0 !important;
  }
  .analytic-content {
    left: 20px;
    h6 {
      font-size: 20px !important;
    }
    p {
      font-size: 12px !important;
    }
  }

  .why-salesforce {
    h3 {
      font-size: 26px !important;
    }
    p {
      font-size: 16px !important;
    }
  }
}
